/Lista02/nbproject/private/
/Aula03-Laco-repeticao/nbproject/private/
/Aula03-Laco-repeticao/build/
/Continuacao/target/
/SimularMonitoramentoSO/target/
/LP-PRATICA02/nbproject/private/
/Projeto-Cofrinho/target/